  <nav class="navbar navbar-expand navbar-dark bg-primary text-white fixed-bottom">
    <ul class="navbar-nav nav-justified w-100">
      <li class="nav-item">
        <a href="/" class="nav-link">
          <i class="bi bi-house-fill"></i>Home
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-youtube youtube"></i>Subscribtion</a>
        <!-- <a href="#" class="nav-link"><i class="bi bi-compass"></i>Explorasi</a> -->
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link"><i class="bi bi-plus-circle-fill"></i>Upload</a>
      </li>
      <li class="nav-item">
        <a href="/toolsFbaz" class="nav-link"><i class="bi bi-tools"></i>Tools Fbaz</a>
      </li>
      <li class="nav-item">
        <!-- <a href="#" class="nav-link"><i class="bi bi-collection-play"></i>Collection</a> -->
        <a href="/aboutDev" class="nav-link"><i class="bi bi-person-circle"></i>About Dev</a>
      </li>
    </ul>
  </nav>