{% load static %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'css/Mystyle.css' %}" type="text/css" media="all" />
  

  <title>Youtube Copy | {{ title }}</title>
</head>
<body>
  {% include "partials/navbarTop.html" %}
  
  {% if title == "Show Chanel" %}
  <div class="show-chanel">
    {% block chanel %}
      
    {% endblock chanel %}
  </div>
  {% else %}
  <div class="content">
    {% block contents %}
      
    {% endblock contents %}
  </div>
  {% endif %}
  
  {% include "partials/navbarBottom.html" %}
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  <script src="{% static 'js/myScript.js' %}" type="text/javascript" charset="utf-8"></script>
  <script src="{% static 'js/form.js' %}" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript" charset="utf-8">
    inputSearch.onkeyup = function(e) {
      if(e.keyCode == 13) {
        value = inputSearch.value;
        
        if(value == "") {
          alert('Jangan Dikosongin')
        } else if(value != "") {
          valueRep = value.replace(" ", "-")
          document.location.href = `/result/${valueRep}`
        }
        
      }
    }
  </script>

</body>
</html>