{% extends "layouts/main_layout.html" %}
{% load static %}

{% block contents %}

<div class="row tool justify-content-center">
  <h2 class="text-center">My List Tools</h2>
  
  <a href="" class="link">
    <div class="card">
      <div class="card-body fs-5">
        <i class="bi bi-download"></i> <span>Download Video Tools</span>
      </div>
    </div>
  </a>
  <a href="" class="link">
    <div class="card">
      <div class="card-body fs-5">
        <i class="bi bi-download"></i> <span>Download Video Tools</span>
      </div>
    </div>
  </a>
  <a href="" class="link">
    <div class="card">
      <div class="card-body fs-5">
        <i class="bi bi-download"></i> <span>Download Video Tools</span>
      </div>
    </div>
  </a>
  <a href="" class="link">
    <div class="card">
      <div class="card-body fs-5">
        <i class="bi bi-download"></i> <span>Download Video Tools</span>
      </div>
    </div>
  </a>
</div>

{% endblock contents %}